.password-input-container {
  .ant-input-suffix {
    position: absolute;
    right: 0;
    top: 0;
    button.ant-btn {
      height: 30px;
      border: none;
      padding: 4px 10px !important;
      span svg {
        fill: #8C8C8C;
      }
    }
    button.ant-btn:hover span svg {
      fill: #039E78;
    }
  }
}